@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;

}
.main_bg{
    background-color: #2c3e50;
    width: 100%;
    /* max-width: 1200px; */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}
.form{
    width: 650px;
}

.user-details .main-form .input-box input:invalid{
    border-color:red ;
    border-width: 0.6em;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;

  }
  .user-details .main-form .input-box input:valid{
    border-color: green;
    border-width: 0.6em;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    background-color: black;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

.btn{
    font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #c5bd21;
  width: 160px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black;
    color: #fff ;
}
.btn:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5);
    color: #fff;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}